<div class="tabs-ord" id="tab-room2">
    <ul class="tabs__list">
        <li><a href="#tab1">lorem</a></li>
        <li><a href="#tab2">lorem</a></li>
        <li><a href="#tab3">lorem</a></li>
        <li><a href="#tab4">lorem</a></li>
        <li><a href="#tab5">lorem</a></li>
        <li><a href="#tab6">lorem</a></li>
        <li><a href="#tab7">lorem</a></li>
        <li><a href="#tab8">lorem</a></li>
        <li><a href="#tab9">lorem</a></li>
        <li><a href="#tab10">lorem</a></li>
    </ul>

    {{> orders/orders-1}}
    {{> orders/orders-2}}
    {{> orders/orders-3}}
    {{> orders/orders-4}}
    {{> orders/orders-5}}
    {{> orders/orders-6}}
    {{> orders/orders-7}}
    {{> orders/orders-8}}
    {{> orders/orders-9}}
    {{> orders/orders-10}}
</div>