    <div class="first">
        
        <div class="first-grad"></div>
        <div class="parralax">
            <div class="parralax-1 m-img-cont">
                <img src="%=static=%img/content/parralax-1.png" alt="">
            </div>
    
            <div class="parralax-2 m-img-cont">
                <img src="%=static=%img/content/parralax-2.png" alt="">
            </div>
    
            <div class="parralax-3 m-img-cont">
                <img src="%=static=%img/content/parralax-3.png" alt="">
            </div>
        </div>

        <div class="wrapper">
            <div class="logo-container">
                <a href="index.html">
                    <img src="../static/img/content/logo-2.png" alt="">
                </a>
            </div>
        </div>
    </div>