<div class="footer">
    <div class="wrapper">
        <div class="footer__container">
            <div class="footer__logo">
                <div class="logo__container">
                    <img src="../../static/img/content/logo-1.png" alt="">
                </div>

             
            </div>

            <div class="footer__menu">

                <div class="footer__item">
                    <div class="footer__menu-title">
                        информация
                    </div>

                    <div class="footer__menu-link">
                        <a href="#">О компании</a>
                    </div>

                    <div class="footer__menu-link">
                        <a href="#">Условия сотрудничества</a>
                    </div>

                    <div class="footer__menu-link">
                        <a href="#">Производители</a>
                    </div>

                    <div class="footer__menu-link">
                        <a href="#">Доставка</a>
                    </div>

                </div>

                <div class="footer__item">
                    <div class="footer__menu-title">
                        интернет-магазин
                    </div>
                    <div class="footer__menu-link">
                        <a href="#">
                            Пользовательское соглашение</a>
                    </div>

                    <div class="footer__menu-link">
                        <a href="#">Публичная оферта
                        </a>
                    </div>

                    <div class="footer__menu-link">
                        <a href="#">Политика конфиденциальности</a>
                    </div>

                </div>

                <div class="footer__item">
                    <div class="footer__menu-title">
                        Обратная связь
                    </div>

                    <div class="footer__menu-link">
                        <a href="#">Контакты</a>
                    </div>

                    <div class="footer__menu-link">
                        <a href="#">Форма обратной связи</a>
                    </div>
                    <div class="footer__menu-link">
                        <a href="tel:89991203378">
                        {{Icon iconName="phone-call"}}
                        8-999-120-33-78</a>
                    </div>

                    <div class="footer__menu-link">
                        <a href="#">
                            {{Icon iconName="envelope"}}                            
                            mail@gmail.com</a>
                    </div>

                    <div class="footer__menu-link">
                        <a href="#">lorem</a>
                    </div>

                    <div class="footer__menu-link">
                        <a href="#">lorem</a>
                    </div>

                </div>

                <div class="footer__item footer__item-social">

                    <div class="footer__menu-title">
                        MERA в соцсетях
                    </div>
                    <div class="social">
                        <a href="#" class="social__button">
                            <img src="%=static=%img/content/vk.png" alt="">
                        </a>
                        <a href="#" class="social__button">
                            <img src="%=static=%img/content/ok.png" alt="">
                        </a>
                        <a href="#" class="social__button">
                            <img src="%=static=%img/content/inst.png" alt="">
                        </a>
                        <a href="#" class="social__button">
                            <img src="%=static=%img/content/yt.png" alt="">
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="wrapper footer__copy">
    <div class="footer__bottom-copy">© MERA 2018</div>

    <div class="footer__bottom-right">
        Создание сайта - 
        <a href="http://markello.ru" target="_blank" class="m-link-bottom">Markello</a>
    </div>
</div>


<div class="overlay"></div>

<div class="modal modal-">
    <div class="modal__title">Вы уверены, что хотите удалить 
        данный товар из корзины?</div>
    <div class="modal__buttons">
        <div class="modal-left">
            <a href="#" class="m-button-purp">Да, удалить</a>
        </div>
        <div class="modal-right">
            <a href="#" class="m-button">
                Оставить
            </a>
        </div>
    </div>
</div>

<div class="modal modal-feedback">
    <div class="modal__title">Спасибо за оставленный отзыв!</div>
</div>


<script>
    var imgUp = '';
    var imgDown = '';
</script>