<div class="profile__container" id="tab-room3">
    <div class="profile">
        <div class="profile__top">
            <div class="profile__img">
                <div class="profile__img-cont m-img-cont">
                    <img src="http://via.placeholder.com/100x100" alt="">
                    <div class="profile__vip">
                        vip
                    </div>
                </div>
            </div>
            <div class="profile__left">


                <div class="profile__left-top">
                    <div class="profile__title">Иванов Иван Иванович
                    </div>

                    <div class="profile__red">

                        <svg class="icon__red" width="20px" height="20px">
                            <use xlink:href="#red"></use>
                        </svg>

                        Редактировать профиль
                    </div>
                </div>

                <div class="profile__face">Частное лицо</div>

                <div class="profile__info">
                    <div class="profile__item">
                        <b>Город:</b>
                        <p>Москва</p>
                    </div>

                    <div class="profile__item">
                        <b>Телефон:</b>
                        <p>8-995-567-45-34</p>
                    </div>

                    <div class="profile__item">
                        <b>E-mail:</b>
                        <p>ivanov@mail.ru</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="profile__bottom">
            <div class="profile__bottom-info">
                <div class="profile__info-title">
                    45
                </div>

                Завершенных заказов
            </div>

            <div class="profile__bottom-info">
                <div class="profile__info-title">
                    45
                </div>

                Завершенных заказов
            </div>

            <div class="profile__bottom-info">
                <div class="profile__info-title">
                    45
                </div>

                Завершенных заказов
            </div>
        </div>
    </div>

    <div class="messages">
        <div class="messages__title">
            Уведомления
        </div>

        <div class="messages__item">
            1. Оплатите 30% от заказа до окончания счетчика

            <svg class="icon__close" width="13px" height="13px">
                <use xlink:href="#close"></use>
            </svg>

        </div>

        <div class="messages__item">
            1. Оплатите 30% от заказа до окончания счетчика

            <svg class="icon__close" width="13px" height="13px">
                <use xlink:href="#close"></use>
            </svg>

        </div>

        <div class="messages__item">
            1. Оплатите 30% от заказа до окончания счетчика

            <svg class="icon__close" width="13px" height="13px">
                <use xlink:href="#close"></use>
            </svg>

        </div>

        <div class="messages__item">
            1. Оплатите 30% от заказа до окончания счетчика

            <svg class="icon__close" width="13px" height="13px">
                <use xlink:href="#close"></use>
            </svg>

        </div>
    </div>
</div>