<div class="table-container" id="tab1">
        <table class="tabs__table">

            <tr>
                <th>Товар</th>
                <th class="tabs__table-left">Название</th>
                <th>Статус</th>
                <th>Количество</th>
                <th> Цена 30%</th>
                <th>Цена 70%</th>
                <th>Цена 100%</th>
                <th>Информация</th>
                <th>Удалить</th>
            </tr>

            <tr data-price="1000">
                <td>
                    <div class="m-img-cont">
                        <img src="http://via.placeholder.com/300x300" alt="">
                    </div>
                </td>

                <td> 
                    
                    <div class="tabs__desc">
                        <div class="tabs__name">
                            Корица компаньон.
                        </div>
                        <div class="tabs__category">
                            Футер
                        </div>
                    </div>
                </td>

                <td class="red"> 
                    Предоплата 
                    23:35
                </td>

                <td>
                    <div class="tabs__number">
                        <div class="quantity">
                            <input type="number" min="0.1" max="1000" step="0.1" value="1">
                            
                            <div class="quantity-nav">
                                <div class="quantity-button quantity-up">
                                    <img src="%=static=%img/content/up.png">
                                </div>
                                <div class="quantity-button quantity-down">
                                    <img src="%=static=%img/content/down.png">
                                </div>
                            </div>
                        </div>
                        <div class="tabs__number-text">
                            кг
                        </div>
                    </div>
                </td>

                <td>
                    <div class="tabs__percent-30">
                        
                    </div>
                </td>

                <td>
                    <div class="tabs__percent-70">
                        
                    </div>
                </td>

                <td>
                    <div class="tabs__percent-100">
                        
                    </div>
                </td>

                <td>
                    <a href="#" class="m-button">
                        К оплате
                    </a>
                </td>

                <td>
                    <div class="tabs__delete">
                        {{Icon iconName="close"}}
                    </div>
                </td>
            </tr>



        </table>
    </div>