<div class="table-container" id="tab8">
        <table class="tabs__table">

            <tr>
                <th>Товар</th>
                <th class="tabs__table-left">Название</th>
                <th>Статус</th>
                <th>Количество</th>
                <th> Цена 30%</th>
                <th>Цена 70%</th>
                <th>Цена 100%</th>
                <th>Информация</th>
                <th>Удалить</th>
            </tr>


            <tr data-price="1000">
                <td>
                    <div class="m-img-cont">
                        <img src="http://via.placeholder.com/300x300" alt="">
                    </div>
                </td>
                <td> 
                    
                    <div class="tabs__desc">
                        <div class="tabs__name">
                            Корица компаньон.
                        </div>
                        <div class="tabs__category">
                            Футер
                        </div>
                    </div>
                </td>

                <td class="blue"> 
                    Нарезка
                </td>

                <td>
                    <div class="tabs__number">
                        <div class="tabs__number-text">
                           5,8 кг
                        </div>
                    </div>
                </td>

                <td>
                    <div class="tabs__percent-30">
                    </div>
                </td>

                <td>
                    <div class="tabs__percent-70">
                    </div>
                </td>
                

                <td>
                    <div class="tabs__percent-100">
                    </div>
                </td>

                <td>
                    48:00
                </td>

                <td>
                </td>
                
            </tr>



            <tr class="tabs__result">
                <td></td>
                <td></td>
                <td></td>
                <td>Общая стоимость:</td>
                <td class="tabs__percent-30 ">12000 руб.</td>
                <td class="tabs__percent-70 ">21000 руб.</td>
                <td class="tabs__percent-100">30000 руб.</td>
            </tr>

            <tr class="tabs__slicing">

                    <td colspan="9">
                        <div class="tabs__slicing-content">
                            <div class="tabs__slicing-text">
                                К доплате по фактическим весам:
                            </div>
    
                                <div class="tabs__slicing-price">
                                657 руб.
                            </div>
    

                            <div class="tabs__bottom-right">
                                <a href="#" class="m-button" style="width: 190px;">Доплатить</a>
                            </div>
                        </div>
                    </td>
                </tr>

        </table>
    </div>