<div class="table-container" id="tab5">
        <table class="tabs__table">

            <tr>
                <th>Товар</th>
                <th class="tabs__table-left">Название</th>
                <th>Статус</th>
                <th>Количество</th>
                <th> Цена 30%</th>
                <th>Цена 70%</th>
                <th>Цена 100%</th>
                <th>Информация</th>
                <th>Удалить</th>
            </tr>


            <tr data-price="1000">
                <td>
                    <div class="m-img-cont">
                        <img src="http://via.placeholder.com/300x300" alt="">
                    </div>
                </td>
                <td> 
                    
                    <div class="tabs__desc">
                        <div class="tabs__name">
                            Корица компаньон.
                        </div>
                        <div class="tabs__category">
                            Футер
                        </div>
                    </div>
                </td>

                <td class="red"> 
                    Предоплата
                </td>

                <td>
                    <div class="tabs__number">
                        <div class="quantity">
                            <input type="number" min="0.1" max="1000" step="0.1" value="1">
                            
                            <div class="quantity-nav">
                                <div class="quantity-button quantity-up">
                                    <img src="%=static=%img/content/up.png">
                                </div>
                                <div class="quantity-button quantity-down">
                                    <img src="%=static=%img/content/down.png">
                                </div>
                            </div>
                        </div>
                        <div class="tabs__number-text">
                            кг
                        </div>
                    </div>
                </td>

                <td>
                    <div class="tabs__percent-30">
                        
                    </div>
                </td>

                <td>
                    <div class="tabs__percent-70">
                        
                    </div>
                </td>
                
                <td>
                    <div class="tabs__percent-100">
                        
                    </div>
                </td>

                <td>
                    23:45
                </td>

                <td>
                    
                </td>
                
            </tr>


            

            <tr class="tabs__slicing">

                <td colspan="9">
                    <div class="tabs__slicing-content">
                        <div class="tabs__slicing-text">
                            К доплате по фактическим весам:
                        </div>

                        <div class="tabs__slicing-price">
                            12000 руб.
                        </div>

                        <div class="tabs__slicing-button">
                            <a href="#" class="m-button">
                                Оплатить 30%
                            </a>
                        </div>
                    </div>
                </td>
                

               
            </tr>

            <tr class="tabs__small">
                <td colspan="9">
                    <small>*Оплатите заказ до окончания счетчика. При неоплате в ответеденное время, товар автоматически удаляется из заказа.</small>
                </td>
            </tr>

        </table>
    </div>