<header class="header">
    <div class="wrapper header__container">
        <div class="header__top">
            <div class="header__left">
                <a href="tel:89991203378" class="header__link link-phone">
                    <img src="../static/img/content/phone.png" alt="">
                    8-999-120-33-78
                </a>
                <a href="#" class="header__link link-mail">
                    <img src="../static/img/content/mail.png" alt="">
                    89527876717@mail.ru
                </a>
            </div>
            <div class="header__right">
                

                <form action="#" class="search">
                    <input name="search" class="search__field m-field">
                    <button href="#" class="search__button">
                        <img src="../static/img/content/search.png" alt="">
                    </button>
                </form>

                <div class="sign">
                    <div class="sign__icon">
                        <img src="../static/img/content/sign.png" alt="">
                    </div>

                    <div class="sign__right">
                        <a href="#" class="sign__sign">Войти</a>
                        <a href="#" class="sign__reg">Регистрация</a>
                    </div>
                </div>

                <div class="header__basket">
                    <a href="#">
                        <img src="../static/img/content/basket.png" alt="">
                    </a>
                    <div class="basket-index"></div>
                </div>
                
            </div>
        </div>

        <div class="header__menu">
            <div class="wrapper">
                   
                <a href="#" class=" header__menu-link callDrop" data-block="drop-1">в наличии</a>
                <a href="#" class=" header__menu-link callDrop" data-block="drop-2">предзаказ</a>

                <a href="custom.html" class=" header__menu-link">индивидуальные принты</a>
                <a href="map.html" class=" header__menu-link">условия сотрудничества</a>
                <a href="paymment.html" class=" header__menu-link">доставка</a>
                <a href="news.html" class=" header__menu-link">о компании</a>
                <div class="menu-open">
                    {{Icon iconName="more"}}
                </div>
            </div>
            <div class="drop-menu tabs drop-1">
                <div class="wrapper">
            
                    <div class="drop-menu__container">
                        <ul class="drop-menu__links1">
                            <li><a href="#tab1">Трикотажное полотно {{Icon iconName="tri"}} </a></li>
                            <li><a href="#tab2">Курточные ткани {{Icon iconName="tri"}}</a></li>
                            <li><a href="#tab3">Утеплители{{Icon iconName="tri"}}</a></li>
                            <li><a href="#tab4">Шелковые ткани{{Icon iconName="tri"}}</a></li>
                            <li><a href="#tab5">Х/Б ткани{{Icon iconName="tri"}}</a></li>
                            <li><a href="#tab6">Фэшн ткани{{Icon iconName="tri"}}</a></li>
                        </ul>
                        <!-- 1 уровень -->
                    
                    
                        <!-- 2 уровень -->
                    
                        <div class="drop-menu-tab" id="tab1">
                    
                            <div class="tabs-tabs  drop drop-menu__tab-int">
                                <ul class="drop-menu__links2">
                                    <li><a href="#tab-tab1">Футер{{Icon iconName="tri"}}</a></li>
                                    <li><a href="#tab-tab2">Кулирка{{Icon iconName="tri"}}</a></li>
                                    <li><a href="#tab-tab3">Интерлок {{Icon iconName="tri"}}</a></li>
                                    <li><a href="#tab-tab4">Кашкорсе{{Icon iconName="tri"}}</a></li>
                                    <li><a href="#tab-tab5">Рибана {{Icon iconName="tri"}}</a></li>
                                    <li><a href="#tab-tab6">Бифлекс {{Icon iconName="tri"}}</a></li>
                                    <li><a href="#tab-tab7">Неопрен {{Icon iconName="tri"}}</a></li>
                                </ul>

                                <a id="tab-tab1" href="#" class="m-img-cont drop-menu__img"> <img src="http://via.placeholder.com/200x100" alt=""></a>
                                <a id="tab-tab2" href="#" class="m-img-cont drop-menu__img"> <img src="http://via.placeholder.com/200x100" alt=""></a>
                                <a id="tab-tab3" href="#" class="m-img-cont drop-menu__img"> <img src="http://via.placeholder.com/200x100" alt=""></a>
                                <a id="tab-tab4" href="#" class="m-img-cont drop-menu__img"> <img src="http://via.placeholder.com/200x100" alt=""></a>
                                <a id="tab-tab5" href="#" class="m-img-cont drop-menu__img"> <img src="http://via.placeholder.com/200x100" alt=""></a>
                                <a id="tab-tab6" href="#" class="m-img-cont drop-menu__img"> <img src="http://via.placeholder.com/200x100" alt=""></a>
                                <a id="tab-tab7" href="#" class="m-img-cont drop-menu__img"> <img src="http://via.placeholder.com/200x100" alt=""></a>
                            </div>
                        </div>
                    
                        <div class="drop-menu-tab" id="tab2">
                    
                            <div class="tabs-tabs  drop-menu__tab-int">
                                <ul class="drop-menu__links2">
                                    <li><a href="#tab-tab1">Футер{{Icon iconName="tri"}}</a></li>
                                    <li><a href="#tab-tab2">Кулирка{{Icon iconName="tri"}}</a></li>
                                    <li><a href="#tab-tab3">Интерлок {{Icon iconName="tri"}}</a></li>
                                    <li><a href="#tab-tab4">Кашкорсе{{Icon iconName="tri"}}</a></li>
                                    <li><a href="#tab-tab5">Рибана {{Icon iconName="tri"}}</a></li>
                                    <li><a href="#tab-tab6">Бифлекс {{Icon iconName="tri"}}</a></li>
                                    <li><a href="#tab-tab7">Неопрен {{Icon iconName="tri"}}</a></li>
                                </ul>
                        
                                <a id="tab-tab1" href="#" class="m-img-cont drop-menu__img"> <img src="http://via.placeholder.com/200x100" alt=""></a>
                                <a id="tab-tab2" href="#" class="m-img-cont drop-menu__img"> <img src="http://via.placeholder.com/200x100" alt=""></a>
                                <a id="tab-tab3" href="#" class="m-img-cont drop-menu__img"> <img src="http://via.placeholder.com/200x100" alt=""></a>
                                <a id="tab-tab4" href="#" class="m-img-cont drop-menu__img"> <img src="http://via.placeholder.com/200x100" alt=""></a>
                                <a id="tab-tab5" href="#" class="m-img-cont drop-menu__img"> <img src="http://via.placeholder.com/200x100" alt=""></a>
                                <a id="tab-tab6" href="#" class="m-img-cont drop-menu__img"> <img src="http://via.placeholder.com/200x100" alt=""></a>
                                <a id="tab-tab7" href="#" class="m-img-cont drop-menu__img"> <img src="http://via.placeholder.com/200x100" alt=""></a>
                            </div>
                        </div>
                    
                        <div class="drop-menu-tab" id="tab3">
                    
                            <div class="tabs-tabs  drop-menu__tab-int">
                                <ul class="drop-menu__links2">
                                    <li><a href="#tab-tab1">Футер{{Icon iconName="tri"}}</a></li>
                                    <li><a href="#tab-tab2">Кулирка{{Icon iconName="tri"}}</a></li>
                                    <li><a href="#tab-tab3">Интерлок {{Icon iconName="tri"}}</a></li>
                                    <li><a href="#tab-tab4">Кашкорсе{{Icon iconName="tri"}}</a></li>
                                    <li><a href="#tab-tab5">Рибана {{Icon iconName="tri"}}</a></li>
                                    <li><a href="#tab-tab6">Бифлекс {{Icon iconName="tri"}}</a></li>
                                    <li><a href="#tab-tab7">Неопрен {{Icon iconName="tri"}}</a></li>
                                </ul>
                        
                                <a id="tab-tab1" href="#" class="m-img-cont drop-menu__img"> <img src="http://via.placeholder.com/200x100" alt=""></a>
                                <a id="tab-tab2" href="#" class="m-img-cont drop-menu__img"> <img src="http://via.placeholder.com/200x100" alt=""></a>
                                <a id="tab-tab3" href="#" class="m-img-cont drop-menu__img"> <img src="http://via.placeholder.com/200x100" alt=""></a>
                                <a id="tab-tab4" href="#" class="m-img-cont drop-menu__img"> <img src="http://via.placeholder.com/200x100" alt=""></a>
                                <a id="tab-tab5" href="#" class="m-img-cont drop-menu__img"> <img src="http://via.placeholder.com/200x100" alt=""></a>
                                <a id="tab-tab6" href="#" class="m-img-cont drop-menu__img"> <img src="http://via.placeholder.com/200x100" alt=""></a>
                                <a id="tab-tab7" href="#" class="m-img-cont drop-menu__img"> <img src="http://via.placeholder.com/200x100" alt=""></a>
                            </div>
                        </div>
                    
                        <div class="drop-menu-tab" id="tab4">
                    
                            <div class="tabs-tabs  drop-menu__tab-int">
                                <ul class="drop-menu__links2">
                                    <li><a href="#tab-tab1">Футер{{Icon iconName="tri"}}</a></li>
                                    <li><a href="#tab-tab2">Кулирка{{Icon iconName="tri"}}</a></li>
                                    <li><a href="#tab-tab3">Интерлок {{Icon iconName="tri"}}</a></li>
                                    <li><a href="#tab-tab4">Кашкорсе{{Icon iconName="tri"}}</a></li>
                                    <li><a href="#tab-tab5">Рибана {{Icon iconName="tri"}}</a></li>
                                    <li><a href="#tab-tab6">Бифлекс {{Icon iconName="tri"}}</a></li>
                                    <li><a href="#tab-tab7">Неопрен {{Icon iconName="tri"}}</a></li>
                                </ul>
                        
                                <a id="tab-tab1" href="#" class="m-img-cont drop-menu__img"> <img src="http://via.placeholder.com/200x100" alt=""></a>
                                <a id="tab-tab2" href="#" class="m-img-cont drop-menu__img"> <img src="http://via.placeholder.com/200x100" alt=""></a>
                                <a id="tab-tab3" href="#" class="m-img-cont drop-menu__img"> <img src="http://via.placeholder.com/200x100" alt=""></a>
                                <a id="tab-tab4" href="#" class="m-img-cont drop-menu__img"> <img src="http://via.placeholder.com/200x100" alt=""></a>
                                <a id="tab-tab5" href="#" class="m-img-cont drop-menu__img"> <img src="http://via.placeholder.com/200x100" alt=""></a>
                                <a id="tab-tab6" href="#" class="m-img-cont drop-menu__img"> <img src="http://via.placeholder.com/200x100" alt=""></a>
                                <a id="tab-tab7" href="#" class="m-img-cont drop-menu__img"> <img src="http://via.placeholder.com/200x100" alt=""></a>
                            </div>
                        </div>
                    
                        <div class="drop-menu-tab" id="tab5">
                    
                            <div class="tabs-tabs  drop-menu__tab-int">
                                <ul class="drop-menu__links2">
                                    <li><a href="#tab-tab1">Футер{{Icon iconName="tri"}}</a></li>
                                    <li><a href="#tab-tab2">Кулирка{{Icon iconName="tri"}}</a></li>
                                    <li><a href="#tab-tab3">Интерлок {{Icon iconName="tri"}}</a></li>
                                    <li><a href="#tab-tab4">Кашкорсе{{Icon iconName="tri"}}</a></li>
                                    <li><a href="#tab-tab5">Рибана {{Icon iconName="tri"}}</a></li>
                                    <li><a href="#tab-tab6">Бифлекс {{Icon iconName="tri"}}</a></li>
                                    <li><a href="#tab-tab7">Неопрен {{Icon iconName="tri"}}</a></li>
                                </ul>
                        
                                <a id="tab-tab1" href="#" class="m-img-cont drop-menu__img"> <img src="http://via.placeholder.com/200x100" alt=""></a>
                                <a id="tab-tab2" href="#" class="m-img-cont drop-menu__img"> <img src="http://via.placeholder.com/200x100" alt=""></a>
                                <a id="tab-tab3" href="#" class="m-img-cont drop-menu__img"> <img src="http://via.placeholder.com/200x100" alt=""></a>
                                <a id="tab-tab4" href="#" class="m-img-cont drop-menu__img"> <img src="http://via.placeholder.com/200x100" alt=""></a>
                                <a id="tab-tab5" href="#" class="m-img-cont drop-menu__img"> <img src="http://via.placeholder.com/200x100" alt=""></a>
                                <a id="tab-tab6" href="#" class="m-img-cont drop-menu__img"> <img src="http://via.placeholder.com/200x100" alt=""></a>
                                <a id="tab-tab7" href="#" class="m-img-cont drop-menu__img"> <img src="http://via.placeholder.com/200x100" alt=""></a>
                            </div>
                        </div>
                    
                        <div class="drop-menu-tab" id="tab6">
                    
                            <div class="tabs-tabs  drop-menu__tab-int">
                                <ul class="drop-menu__links2">
                                    <li><a href="#tab-tab1">Футер{{Icon iconName="tri"}}</a></li>
                                    <li><a href="#tab-tab2">Кулирка{{Icon iconName="tri"}}</a></li>
                                    <li><a href="#tab-tab3">Интерлок {{Icon iconName="tri"}}</a></li>
                                    <li><a href="#tab-tab4">Кашкорсе{{Icon iconName="tri"}}</a></li>
                                    <li><a href="#tab-tab5">Рибана {{Icon iconName="tri"}}</a></li>
                                    <li><a href="#tab-tab6">Бифлекс {{Icon iconName="tri"}}</a></li>
                                    <li><a href="#tab-tab7">Неопрен {{Icon iconName="tri"}}</a></li>
                                </ul>

                                <a id="tab-tab1" href="#" class="m-img-cont drop-menu__img"> <img src="http://via.placeholder.com/200x100" alt=""></a>
                                <a id="tab-tab2" href="#" class="m-img-cont drop-menu__img"> <img src="http://via.placeholder.com/200x100" alt=""></a>
                                <a id="tab-tab3" href="#" class="m-img-cont drop-menu__img"> <img src="http://via.placeholder.com/200x100" alt=""></a>
                                <a id="tab-tab4" href="#" class="m-img-cont drop-menu__img"> <img src="http://via.placeholder.com/200x100" alt=""></a>
                                <a id="tab-tab5" href="#" class="m-img-cont drop-menu__img"> <img src="http://via.placeholder.com/200x100" alt=""></a>
                                <a id="tab-tab6" href="#" class="m-img-cont drop-menu__img"> <img src="http://via.placeholder.com/200x100" alt=""></a>
                                <a id="tab-tab7" href="#" class="m-img-cont drop-menu__img"> <img src="http://via.placeholder.com/200x100" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="drop-menu tabs drop-2">
                <div class="wrapper">
            
                    <div class="drop-menu__container">
                        <ul class="drop-menu__links1">
                            <li><a href="#tab1">Трикотажное полотно {{Icon iconName="tri"}} </a></li>
                            <li><a href="#tab2">Курточные ткани {{Icon iconName="tri"}}</a></li>
                            <li><a href="#tab3">Утеплители{{Icon iconName="tri"}}</a></li>
                            <li><a href="#tab4">Шелковые ткани{{Icon iconName="tri"}}</a></li>
                            <li><a href="#tab5">Х/Б ткани{{Icon iconName="tri"}}</a></li>
                            <li><a href="#tab6">Фэшн ткани{{Icon iconName="tri"}}</a></li>
                        </ul>
                        <!-- 1 уровень -->
                    
                    
                        <!-- 2 уровень -->
                    
                        <div class="drop-menu-tab" id="tab1">
                    
                            <div class="tabs-tabs  drop drop-menu__tab-int">
                                <ul class="drop-menu__links2">
                                    <li><a href="#tab-tab1">Футер{{Icon iconName="tri"}}</a></li>
                                    <li><a href="#tab-tab2">Кулирка{{Icon iconName="tri"}}</a></li>
                                    <li><a href="#tab-tab3">Интерлок {{Icon iconName="tri"}}</a></li>
                                    <li><a href="#tab-tab4">Кашкорсе{{Icon iconName="tri"}}</a></li>
                                    <li><a href="#tab-tab5">Рибана {{Icon iconName="tri"}}</a></li>
                                    <li><a href="#tab-tab6">Бифлекс {{Icon iconName="tri"}}</a></li>
                                    <li><a href="#tab-tab7">Неопрен {{Icon iconName="tri"}}</a></li>
                                </ul>
                        
                                <a id="tab-tab1" href="#" class="m-img-cont drop-menu__img"> <img src="http://via.placeholder.com/200x100" alt=""></a>
                                <a id="tab-tab2" href="#" class="m-img-cont drop-menu__img"> <img src="http://via.placeholder.com/200x100" alt=""></a>
                                <a id="tab-tab3" href="#" class="m-img-cont drop-menu__img"> <img src="http://via.placeholder.com/200x100" alt=""></a>
                                <a id="tab-tab4" href="#" class="m-img-cont drop-menu__img"> <img src="http://via.placeholder.com/200x100" alt=""></a>
                                <a id="tab-tab5" href="#" class="m-img-cont drop-menu__img"> <img src="http://via.placeholder.com/200x100" alt=""></a>
                                <a id="tab-tab6" href="#" class="m-img-cont drop-menu__img"> <img src="http://via.placeholder.com/200x100" alt=""></a>
                                <a id="tab-tab7" href="#" class="m-img-cont drop-menu__img"> <img src="http://via.placeholder.com/200x100" alt=""></a>
                            </div>
                        </div>
                    
                        <div class="drop-menu-tab" id="tab2">
                    
                            <div class="tabs-tabs  drop-menu__tab-int">
                                <ul class="drop-menu__links2">
                                    <li><a href="#tab-tab1">Футер{{Icon iconName="tri"}}</a></li>
                                    <li><a href="#tab-tab2">Кулирка{{Icon iconName="tri"}}</a></li>
                                    <li><a href="#tab-tab3">Интерлок {{Icon iconName="tri"}}</a></li>
                                    <li><a href="#tab-tab4">Кашкорсе{{Icon iconName="tri"}}</a></li>
                                    <li><a href="#tab-tab5">Рибана {{Icon iconName="tri"}}</a></li>
                                    <li><a href="#tab-tab6">Бифлекс {{Icon iconName="tri"}}</a></li>
                                    <li><a href="#tab-tab7">Неопрен {{Icon iconName="tri"}}</a></li>
                                </ul>

                                <a id="tab-tab1" href="#" class="m-img-cont drop-menu__img"> <img src="http://via.placeholder.com/200x100" alt=""></a>
                                <a id="tab-tab2" href="#" class="m-img-cont drop-menu__img"> <img src="http://via.placeholder.com/200x100" alt=""></a>
                                <a id="tab-tab3" href="#" class="m-img-cont drop-menu__img"> <img src="http://via.placeholder.com/200x100" alt=""></a>
                                <a id="tab-tab4" href="#" class="m-img-cont drop-menu__img"> <img src="http://via.placeholder.com/200x100" alt=""></a>
                                <a id="tab-tab5" href="#" class="m-img-cont drop-menu__img"> <img src="http://via.placeholder.com/200x100" alt=""></a>
                                <a id="tab-tab6" href="#" class="m-img-cont drop-menu__img"> <img src="http://via.placeholder.com/200x100" alt=""></a>
                                <a id="tab-tab7" href="#" class="m-img-cont drop-menu__img"> <img src="http://via.placeholder.com/200x100" alt=""></a>
                            </div>
                        </div>
                    
                        <div class="drop-menu-tab" id="tab3">
                    
                            <div class="tabs-tabs  drop-menu__tab-int">
                                <ul class="drop-menu__links2">
                                    <li><a href="#tab-tab1">Футер{{Icon iconName="tri"}}</a></li>
                                    <li><a href="#tab-tab2">Кулирка{{Icon iconName="tri"}}</a></li>
                                    <li><a href="#tab-tab3">Интерлок {{Icon iconName="tri"}}</a></li>
                                    <li><a href="#tab-tab4">Кашкорсе{{Icon iconName="tri"}}</a></li>
                                    <li><a href="#tab-tab5">Рибана {{Icon iconName="tri"}}</a></li>
                                    <li><a href="#tab-tab6">Бифлекс {{Icon iconName="tri"}}</a></li>
                                    <li><a href="#tab-tab7">Неопрен {{Icon iconName="tri"}}</a></li>
                                </ul>
                        
                                <a id="tab-tab1" href="#" class="m-img-cont drop-menu__img"> <img src="http://via.placeholder.com/200x100" alt=""></a>
                                <a id="tab-tab2" href="#" class="m-img-cont drop-menu__img"> <img src="http://via.placeholder.com/200x100" alt=""></a>
                                <a id="tab-tab3" href="#" class="m-img-cont drop-menu__img"> <img src="http://via.placeholder.com/200x100" alt=""></a>
                                <a id="tab-tab4" href="#" class="m-img-cont drop-menu__img"> <img src="http://via.placeholder.com/200x100" alt=""></a>
                                <a id="tab-tab5" href="#" class="m-img-cont drop-menu__img"> <img src="http://via.placeholder.com/200x100" alt=""></a>
                                <a id="tab-tab6" href="#" class="m-img-cont drop-menu__img"> <img src="http://via.placeholder.com/200x100" alt=""></a>
                                <a id="tab-tab7" href="#" class="m-img-cont drop-menu__img"> <img src="http://via.placeholder.com/200x100" alt=""></a>
                            </div>
                        </div>
                    
                        <div class="drop-menu-tab" id="tab4">
                    
                            <div class="tabs-tabs  drop-menu__tab-int">
                                <ul class="drop-menu__links2">
                                    <li><a href="#tab-tab1">Футер{{Icon iconName="tri"}}</a></li>
                                    <li><a href="#tab-tab2">Кулирка{{Icon iconName="tri"}}</a></li>
                                    <li><a href="#tab-tab3">Интерлок {{Icon iconName="tri"}}</a></li>
                                    <li><a href="#tab-tab4">Кашкорсе{{Icon iconName="tri"}}</a></li>
                                    <li><a href="#tab-tab5">Рибана {{Icon iconName="tri"}}</a></li>
                                    <li><a href="#tab-tab6">Бифлекс {{Icon iconName="tri"}}</a></li>
                                    <li><a href="#tab-tab7">Неопрен {{Icon iconName="tri"}}</a></li>
                                </ul>
                        
                                <a id="tab-tab1" href="#" class="m-img-cont drop-menu__img"> <img src="http://via.placeholder.com/200x100" alt=""></a>
                                <a id="tab-tab2" href="#" class="m-img-cont drop-menu__img"> <img src="http://via.placeholder.com/200x100" alt=""></a>
                                <a id="tab-tab3" href="#" class="m-img-cont drop-menu__img"> <img src="http://via.placeholder.com/200x100" alt=""></a>
                                <a id="tab-tab4" href="#" class="m-img-cont drop-menu__img"> <img src="http://via.placeholder.com/200x100" alt=""></a>
                                <a id="tab-tab5" href="#" class="m-img-cont drop-menu__img"> <img src="http://via.placeholder.com/200x100" alt=""></a>
                                <a id="tab-tab6" href="#" class="m-img-cont drop-menu__img"> <img src="http://via.placeholder.com/200x100" alt=""></a>
                                <a id="tab-tab7" href="#" class="m-img-cont drop-menu__img"> <img src="http://via.placeholder.com/200x100" alt=""></a>
                            </div>
                        </div>
                    
                        <div class="drop-menu-tab" id="tab5">
                    
                            <div class="tabs-tabs  drop-menu__tab-int">
                                <ul class="drop-menu__links2">
                                    <li><a href="#tab-tab1">Футер{{Icon iconName="tri"}}</a></li>
                                    <li><a href="#tab-tab2">Кулирка{{Icon iconName="tri"}}</a></li>
                                    <li><a href="#tab-tab3">Интерлок {{Icon iconName="tri"}}</a></li>
                                    <li><a href="#tab-tab4">Кашкорсе{{Icon iconName="tri"}}</a></li>
                                    <li><a href="#tab-tab5">Рибана {{Icon iconName="tri"}}</a></li>
                                    <li><a href="#tab-tab6">Бифлекс {{Icon iconName="tri"}}</a></li>
                                    <li><a href="#tab-tab7">Неопрен {{Icon iconName="tri"}}</a></li>
                                </ul>
                        
                                <a id="tab-tab1" href="#" class="m-img-cont drop-menu__img"> <img src="http://via.placeholder.com/200x100" alt=""></a>
                                <a id="tab-tab2" href="#" class="m-img-cont drop-menu__img"> <img src="http://via.placeholder.com/200x100" alt=""></a>
                                <a id="tab-tab3" href="#" class="m-img-cont drop-menu__img"> <img src="http://via.placeholder.com/200x100" alt=""></a>
                                <a id="tab-tab4" href="#" class="m-img-cont drop-menu__img"> <img src="http://via.placeholder.com/200x100" alt=""></a>
                                <a id="tab-tab5" href="#" class="m-img-cont drop-menu__img"> <img src="http://via.placeholder.com/200x100" alt=""></a>
                                <a id="tab-tab6" href="#" class="m-img-cont drop-menu__img"> <img src="http://via.placeholder.com/200x100" alt=""></a>
                                <a id="tab-tab7" href="#" class="m-img-cont drop-menu__img"> <img src="http://via.placeholder.com/200x100" alt=""></a>
                            </div>
                        </div>
                    
                        <div class="drop-menu-tab" id="tab6">
                    
                            <div class="tabs-tabs  drop-menu__tab-int">
                                <ul class="drop-menu__links2">
                                    <li><a href="#tab-tab1">Футер{{Icon iconName="tri"}}</a></li>
                                    <li><a href="#tab-tab2">Кулирка{{Icon iconName="tri"}}</a></li>
                                    <li><a href="#tab-tab3">Интерлок {{Icon iconName="tri"}}</a></li>
                                    <li><a href="#tab-tab4">Кашкорсе{{Icon iconName="tri"}}</a></li>
                                    <li><a href="#tab-tab5">Рибана {{Icon iconName="tri"}}</a></li>
                                    <li><a href="#tab-tab6">Бифлекс {{Icon iconName="tri"}}</a></li>
                                    <li><a href="#tab-tab7">Неопрен {{Icon iconName="tri"}}</a></li>
                                </ul>
                        
                                <a id="tab-tab1" href="#" class="m-img-cont drop-menu__img"> <img src="http://via.placeholder.com/200x100" alt=""></a>
                                <a id="tab-tab2" href="#" class="m-img-cont drop-menu__img"> <img src="http://via.placeholder.com/200x100" alt=""></a>
                                <a id="tab-tab3" href="#" class="m-img-cont drop-menu__img"> <img src="http://via.placeholder.com/200x100" alt=""></a>
                                <a id="tab-tab4" href="#" class="m-img-cont drop-menu__img"> <img src="http://via.placeholder.com/200x100" alt=""></a>
                                <a id="tab-tab5" href="#" class="m-img-cont drop-menu__img"> <img src="http://via.placeholder.com/200x100" alt=""></a>
                                <a id="tab-tab6" href="#" class="m-img-cont drop-menu__img"> <img src="http://via.placeholder.com/200x100" alt=""></a>
                                <a id="tab-tab7" href="#" class="m-img-cont drop-menu__img"> <img src="http://via.placeholder.com/200x100" alt=""></a>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</header>