<div class="news__item">
    <a href="news.html" class="news__item-img m-img-cont">
        <img src="http://via.placeholder.com/300x300" alt="">
    </a>

    <div class="news__item-content">
        <div class="news__item-content-top">
            <div class="news__item-content-top-item">
                Текст
                <div class="news__delimiter"></div>
                Текст
            </div>

            <div class="news__item-content-right">
                <div class="news__item-number">
                    13
                </div>
                <div class="news__item-content-top-item">
                    Текст
                    <div class="news__delimiter"></div>
                    Текст
                </div>
            </div>
        </div>
        <div class="news__item-content-bottom">
            <a href="news.html" class="news__item-title">
                Текст
            </a>
            <div class="news__item-desc">
                Текст
            </div>
        </div>
    </div>
</div>