<div class="filter__item">
    <div class="filter__item-top m-img-cont">
        <img src="" alt="">
    </div>

    <div class="filter__item-content">
        <div class="filter__item-content-left">
            <div class="filter__item-title">
                    Описание товара
            </div>
            <div class="filter__item-desc">
                    Цена : 3000 pуб.
            </div>
        </div>
        <div class="filter__item-content-right">
            <a href="#" class="filter__item-button" data-id="1">
                {{Icon iconName="basket-white"}}
            </a>
        </div>
    </div>
</div>