<div class="m-content" id="tab-room1">
    <div class="wrapper">
        <div class="m-block">
            <div class="settings py60">

                <form action="/" class="form">

                    
                    <div class="settings__row">
                        

                        <div class="settings__col">
                            <div class="settings__img-cont">
                                <div class="settings__img m-img-cont">
                                    <img src="http://via.placeholder.com/300x300" alt="">
                                </div>

                                <a href="#" class="settings__link">
                                    <input type="file" class="inputfile">                                        
                                    <label>
                                        <span>
                                            pfuhe                                               
                                        </span>
                                    </label>
                                    
                                </a>
                            </div>
                        </div>

                        <div class="settings__col">
                            <div class="form__block">
                                <p>Email*</p>
                                <input type="mail" name="mail" class="m-field">
                            </div>
                        </div>
                    </div>

                    
                    <div class="settings__row">
                        <div class="settings__title">
                            личные данные
                        </div>
                    </div>
                    <div class="settings__row">

                        <div class="settings__col">

                            
                            <div class="form__block">
                                <p>Фамилия*</p>
                                <input type="sur" name="sur" class="m-field">
                            </div>

                             
                            
                        </div>

                        <div class="settings__col">
                            <div class="form__block">
                                <p>Имя*</p>
                                <input type="name" name="name" class="m-field">
                            </div>
                        </div>
                        
                    </div>

                    <div class="settings__row">
                        <div class="settings__title">
                                данные для выставления счетов
                        </div>
                    </div>

                    <div class="settings__row">
                        <div class="settings__col">
                            <div class="form__block">
                                <p>Фамилия</p>
                                <input type="sur" name="sur" class="m-field">
                            </div>
                            <div class="form__block">
                                <p>Отчество*</p>
                                <input type="father" name="father" class="m-field">
                            </div>

                            <div class="form__block">
                                <p>Наименование организации</p>
                                <input type="text" name="mail" class="m-field">
                            </div>
                        </div>

                        <div class="settings__col">
                            <div class="form__block">
                                <p>Имя*</p>
                                <input type="name" name="name" class="m-field">
                            </div>
                            <div class="form__block">
                                <p>ИНН организации</p>
                                <input type="iin" name="text" class="m-field">
                            </div>
                        </div>
                    </div>

                    <div class="settings__row">
                            <div class="settings__title">
                                    данные для доставки
                            </div>
                    </div>  


                    <div class="settings__row">
                        <div class="settings__col">
                            <label class="form__radio">
                                <input type="radio" name="check" checked>                                    
                                <div></div>
                                <p class="ml20">Курьерская доставка по г.Нижнему Новгороду</p>
                            </label>

                            <label class="form__radio">
                                <input type="radio" name="check" checked>                                    
                                <div></div>
                                <p class="ml20">ТК КИТ (GTD)</p>
                            </label>

                            <label class="form__radio">
                                <input type="radio" name="check" checked>                                    
                                <div></div>
                                <p class="ml20">ТК ПЭК</p>
                            </label>

                            <label class="form__radio">
                                <input type="radio" name="check" checked>                                    
                                <div></div>
                                <p class="ml20">ТК Деловые линии</p>
                            </label>

                            <label class="form__radio">
                                <input type="radio" name="check" checked>                                    
                                <div></div>
                                <p class="ml20">ТК Энергия</p>
                            </label>
                        </div>
                    </div>


                    <div class="settings__row">
                        <div class="settings__col">
                            <div class="form__block">
                                <p>Фамилия</p>
                                <input type="sur" name="mail" class="m-field">
                            </div>
                            <div class="form__block">
                                <p>Отчество</p>
                                <input type="father" name="mail" class="m-field">
                            </div>

                            <small>
                                    *Для оформления доставки на организацию ФИО не требуется
                            </small>
                        </div>
                        <div class="settings__col">
                            <div class="form__block">
                                <p>Имя</p>
                                <input type="name" name="mail" class="m-field">
                            </div>
                        </div>
                    </div> 

                    <div class="settings__row">
                        <div class="settings__col">
                            <div class="form__block">
                                <p>Наименование организации</p>
                                <input type="text" name="mail" class="m-field">
                            </div>

                            <div class="form__block">
                                <p>Страна/Регион*</p>
                                <input type="text" name="mail" class="m-field">
                            </div>

                            <div class="form__block">
                                <p>Номер телефона*</p>
                                <input type="phone" name="mail" class="m-field">
                            </div>

                            <div class="form__block">
                                <p>Серия и номер паспорта</p>
                                <input type="mail" name="mail" class="m-field">
                            </div>

                            <small>*В ТК КИТ (GTD) паспортные данные не требуются</small>
                        </div>

                        <div class="settings__col">
                            <div class="form__block">
                                <p>ИНН организации</p>
                                <input type="iin" name="mail" class="m-field">
                            </div>

                            <div class="form__block">
                                <p>Город*</p>
                                <input type="text" name="mail" class="m-field">
                            </div>
                        </div>
                    </div>


                    <div class="settings__row settings__row-last">

                        <p>Комментарии</p>
                        <textarea name="texarea" id="" class="m-textarea"></textarea>
                    </div>
                    
                    <label class="form__checkbox">
                        <input type="checkbox" name="check">
                        <div><img src="%=static=%img/content/check.png" alt=""></div>

                        <p>Получать уведомления от сайта</p>

                    </label>

                    <label class="form__checkbox">
                        <input type="checkbox" name="check">
                        <div><img src="%=static=%img/content/check.png" alt=""></div>

                        <p>Заказ временно не отправлять</p>

                    </label>

                    <label class="form__checkbox">
                        <input type="checkbox" name="check">
                        <div><img src="%=static=%img/content/check.png" alt=""></div>

                        <p>Дополнительная упаковка в ТК</p>

                    </label>


                    <div class="settings__button-cont">
                        <button class="m-button">Сохранить</button>
                    </div>
                    

                </form>
                
                
            </div>
        </div>
    </div>
</div>