<div class="pagination__container">
    <div class="pagination">
        <a href="#" class="pagination__prev pagination__button">
            <img src="%=static=%img/content/left.png" alt="">
        </a>
        <a href="#" class="pagintaion__item pagination__button">
            <span>1</span>
        </a>
        <a href="#" class="pagintaion__item pagination__button">
            <span>2</span>
        </a>
        <a href="#" class="pagintaion__item pagination__button">
            <span>3</span>
        </a>

        <div class="pagination__button pagination__button-dots">
            ...
        </div>
        <a href="#" class="pagintaion__item pagination__button">
            <span>20</span>
        </a>
        <a href="#" class="pagination__next pagination__button">
            <img src="%=static=%img/content/right.png" alt="">
        </a>
    </div>
</div>